.flex-row {
    .fotoNovoLayout {
        height: 100px;
        width: 150px;
        min-width: 150px;
    }
}

.link {
    &:hover{
        cursor: pointer;
    }
}

.dropdown {
    border: 1px solid #ced4da;
    border-radius: 25px;
    outline: initial!important;
    background: #f8f9fa;
    color: #47404f;
    width: 100%;
    height: 35px;
}