<div>
    <div class="banner row">
        <div class="text col-md-8 col-sm-12">
            <div class="row">
                <h1>Que tal ganhar <b>cashback em LQX</b> a cada compra online?</h1><br>
                <h3>Receba dinhheiro de volta que só valoriza. Avisaremos você sempre que estiver em um dos nossos parceiros!</h3>
            </div>
            <div class="row" style="margin-top: 30px">
                <button (click)="callModalRegister()" class="btn btn-primary btn-rounded mt-3">CRIAR CONTA AGORA</button>
            </div>
        </div>
        <div class="image col-md-4 col-sm-12">
            <img src="./assets/images/home/Sessao1_Icon.png"/>
        </div>
    </div>
    <img class="divisor" src="./assets/images/home/Sessao3_CTA_Cadastre.png"/>
</div>