.banner {
    margin-top: 50px;
    .image{
        float: left;
        img {
            height: 350px;
            width: auto;
        }
    }
    .text {
        margin-top: 20px;
        h1 {
            font-family: 'Noto Sans';
            font-size: 50px;
            color: black;
        }
        h3 {
            font-family: 'Noto Sans';
            font-size: 26px;
            color: black;
        }
    }
    .btn {
        height: 50px;
        line-height: 25px;
        font-weight: bold;
        font-size: 25px;
    }
}
.divisor{
    width: 100%;
    position: fixed;
    margin-left: -160px !important;
}